/* Styling for the nav bar */
.nav {
    /* Set width, height, and prevent shrinking */
    width: 1920px;
    height: 1px;
    flex-shrink: 0;

    /* Background color */
    background: var(--Neutral, #D9D9D9);
}

/* Styling for the white background */
.nav__white {
    background-color: white;
}

/* Styling for the logo */
.nav__logo {
    position: fixed;
    left: 40px;
    width: 80px;
    object-fit: contain;
}

/* Styling for the avatar */
.nav__avatar {
    position: fixed;
    right: 40px;
    width: 30px;
    object-fit: contain;
}

/* Styling for the input */
.nav__input {
    /* Positioning */
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);

    /* Background color and styles */
    background: var(--Neutral, rgba(217, 217, 217, 0.582));
    /* Other styles */
    border-radius: 5px;
    color: white;
    padding: 5px;
    border: none;

    /* Set width, remove fixed height, prevent shrinking */
    width: 300px;
    /* Adjust this width as needed */
    height: auto;
    /* Allow the height to adjust based on content */
    flex-shrink: 0;
}