/* 모달 전체 스타일 */
.modal {
  position: relative;
  max-width: 800px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  background: white;
  overflow: hidden;
  border-radius: 8px;
  transition: all 400ms ease-in-out 2s;
  animation: fadeIn 400ms;
}

/* 모달 내 포스터 이미지 스타일 */
.modal__poster-img {
  width: 100%;
  height: auto;
}

/* 모달 내 컨텐츠 스타일 */
.modal__content {
  padding: 40px;
  color: black;
}

/* 모달 제목 스타일 */
.modal__title {
  padding: 0;
  font-size: 40px;
  margin: 16px 0;
}

/* 모달 세부 정보 스타일 */
.modal__details {
  font-weight: 600;
  font-size: 18px;
}

/* 모달 개요 스타일 */
.modal__overview {
  font-size: 20px;
  line-height: 1.5;
}

/* 모달 사용자 백분율 스타일 */
.modal__user-perc {
  color: #46d369;
}

.modal::-webkit-scrollbar {
  display: none;
  visibility: hidden;
}

/* Hide scrollbar for IE, Edge and Firefox */
.modal {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* 모달 래퍼 스타일 */
.wrapper-modal {
  position: fixed;
  inset: 0px;
  background-color: rgb(0 0 0 / 71%);
  -webkit-tap-highlight-color: transparent;
  display: flex;
  justify-content: center;
}

.presentation {
  z-index: 1200;
  position: absolute;
}

.modal-close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  z-index: 1000;
  color: white;
}

/* 반응형 디자인 */
@media screen and (max-height: 768px) {
  .wrapper-modal {
    align-items: unset;
    padding-top: 2rem;
  }

  .modal {
    overflow-y: scroll;
  }
}

@media screen and (max-width: 768px) {
  .modal__overview {
    font-size: 16px;
  }

  .modal__details {
    font-size: 16px;
  }

  .wrapper-modal {
    padding: 0;
  }

  .modal {
    overflow-y: scroll !important;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* 모달 내 서비스 상자 스타일 */
.service-box {
  border-radius: 15px;
  background: var(--White, #FFF);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.12);
  /* 추가적인 스타일링 */
  padding: 20px;
  /* 여백 추가 */
  margin: 10px;
  /* 셀 간격 조절 */
}

/* 추가적인 스타일링을 위한 클래스들 */
.subscription-type {
  font-weight: bold;
  /* 다른 스타일 추가 가능 */
}

.subscription-price {
  color: green;
  /* 다른 스타일 추가 가능 */
}

/* 태그 버튼 스타일 */
.tag-button {
  margin: 5px;
  padding: 8px 12px;
  background-color: #eee;
  border: 1px solid #ccc;
  cursor: pointer;
}

/* 선택된 태그 버튼 스타일 */
.tag-button-selected {
  margin: 5px;
  padding: 8px 12px;
  background-color: #3277d8;
  border: 1px solid #285f9a;
  color: white;
  cursor: pointer;
}

.ratings {
  display: flex;
  justify-content: space-between;
}

.modal__overview {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-bottom: 8px;
}

.average-rating {
  color: grey;
  /* 회색 평균 별점 */
  margin-right: 10px;
}

.fan-rating {
  color: rgb(189, 189, 88);
  /* 노란색 매니아 별점 */
}