*{
  box-sizing: border-box;
}

:root{
  --primary: #fd7e14;
  --primary_dark: #ca6510;
  --primary_light: #fecba1;
  --neutral: #D9D9D9;
  --neutral2: #EEEEEE;
  --gray_100: #f8f9fa;
  --gray_200: #e9ecef;
  --gray_300: #dee2e6;
  --gray_400: #ced4da;
  --gray_500: #adb5bd;
  --gray_600: #6c757d;
  --gray_700: #495057;
  --gray_800: #343a40;
  --gray_900: #212529;
  --orange_100: #ffe5d0;
  --orange_200: #fecba1;
  --orange_300: #feb272;
  --orange_400: #fd9843;
  --orange_500: #fd7e14;
  --orange_600: #ca6510;
  --orange_700: #984c0c;
  --orange_800: #653208;
  --orange_900: #331904;
  --grey: #7C7C7C;
  --secondary: #6C757D;
}

